node_modules
.next
out
dist
.env.local
.env
*.log
.DS_Store
*.tsbuildinfo
**/tsconfig.tsbuildinfo
backend/public/uploads/*
!backend/public/uploads/.gitkeep
backend/public/profiles/*
!backend/public/profiles/.gitkeep
plant_ai/venv/
plant_ai/dataset/
plant_ai/test_images/
plant_ai/__pycache__/
plant_ai/model_service/__pycache__/
